p {
  font-family: 'Itim', cursive;
  font-size: 20px;
}

h1 {
  font-family: 'Itim', cursive;
  padding-top: 20px;
}

body {
  background-color: rgb(255, 253, 233);
  padding-left: 10px;
  text-align: center;
}

#start {
  display: none;
}

#desencripted {
  display: none;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  top: 50%;
  position: relative;
  transform: translateY(50%);
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

#completeText {
  display: none;
}

.footerDiv {
  bottom: 2%;
  left: 1%;
  right: 1%;
  width: 98%;
  position: fixed;
  text-align: center;
  background-color: rgb(182, 79, 28);
  border-radius: 5px;
}

.footerDiv a {
  text-decoration: none;
  color: rgb(0, 85, 16);
}

.footerDiv a:hover {
  color: black;
  transition: 2s;
}

.footerDiv a:not(hover) {
  transition: 2s;
}

.boton_personalizado {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(5, 50, 82);
  background-color: rgb(178, 226, 230);
  opacity: 100%;
  border-radius: 15px;
  border: 2px solid #0016b0;
}

.boton_personalizado:hover {
  color: rgb(214, 39, 39);
  background-color: #ffffff;
  background-image: none;
  cursor: pointer;
  transition: 0.3s;
}