p {
  font-family: pacifico, cursive;
}

body {
  background-color: #faf5de;
}

#virusAlert {
  text-align: center;
  border-style: solid;
  border-color: yellow;
  background-color: green;
  width: 40%;
}