p {
  font-family: 'Itim', cursive;
  font-size: 20px;
}

h1 {
  font-family: 'Itim', cursive;
  padding-top: 20px;
}

body {
  background-color: rgb(255, 253, 233);
  padding-left: 10px;
  text-align: center;
}

#start {
  display: none;
}

.footerDiv {
  bottom: 0;
  position: fixed;
  text-align: center;
  background-color: rgb(182, 79, 28);
  border-radius: 5px;
}

.boton_personalizado {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(5, 50, 82);
  background-color: rgb(178, 226, 230);
  opacity: 100%;
  border-radius: 15px;
  border: 2px solid #0016b0;
}

.boton_personalizado:hover {
  color: rgb(214, 39, 39);
  background-color: #ffffff;
  background-image: none;
  cursor: pointer;
  transition: 0.3s;
}