p {
  font-family: 'Itim', cursive;
  font-size: 20px;
  color: white;
}

a {
  color: yellow;
}

body {
  background-color: #aa0000;
}

.footerDiv {
  bottom: 2%;
  left: 1%;
  right: 1%;
  width: 98%;
  position: fixed;
  text-align: center;
  background-color: rgb(182, 79, 28);
  border-radius: 5px;
}

.footerDiv a {
  text-decoration: none;
  color: rgb(0, 85, 16);
}

.footerDiv a:hover {
  color: black;
  transition: 2s;
}

.footerDiv a:not(hover) {
  transition: 2s;
}

#virusAlert {
  text-align: center;
  border-style: solid;
  border-color: yellow;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  background-color: ##000075;
}

#virusAlert.p {
  padding-left: 5px;
}